[submodule "vendor/i3"]
	path = vendor/i3
	url = git@github.com:xaviermazon/i3.git
[submodule "vendor/rofi"]
	path = vendor/rofi
	url = git@github.com:xaviermazon/rofi.git
[submodule "vendor/emacs.d"]
	path = vendor/emacs.d
	url = git@github.com:xaviermazon/MyConfigEmacs.git
[submodule "vendor/polybar"]
	path = vendor/polybar
	url = git@github.com:xaviermazon/polybar.git
[submodule "vendor/polybar-polybar"]
	path = vendor/polybar-polybar
	url = git@github.com:polybar/polybar.git
[submodule "vendor/davatorium-rofi"]
	path = vendor/davatorium-rofi
	url = git@github.com:davatorium/rofi.git
